.user-panel {
    display: flex;
    flex-direction: column;
    padding: 0.75em;
    border-bottom: 1px solid var(--borderColor);

    .current-user {
        display: flex;
        align-items: center;

        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 1em;
            flex-grow: 1;

            .name {
                font-size: bold;
                margin-bottom: 0.2em;
            }

            .nickname {
                color: var(--secondaryText);
            }
        }

        .user-avatar {
            width: 4em;
            height: 4em;
        }

        .action {
            font-size: 1.5em;
            height: 1.5em;
            width: 1.5em;
            flex-shrink: 0;
        }
    }
}