.message-wrapper {
    display: flex;
    margin: 0.2em 0;
    flex-shrink: 0;
    max-width: 100%;

    &.in {
        align-self: flex-start;
        
        .message {
            border-bottom-left-radius: 0;
            margin-left: -5px;
            
            background-color: var(--peerMessageBackground);
            padding-left: 1.2em;
            
            -webkit-mask-position: 0% 100%;
            mask-position: 0% 100%;;
            -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='11px' height='20px' viewBox='0 0 11 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M5.99997265,0 L0,0 L0,17 C0.193003149,14.1607017 0.876197869,11.2332513 2.04958416,8.21764872 C2.95395324,5.89342034 4.49586977,3.73337411 6.67533376,1.73751004 C7.08266144,1.36452676 7.11047701,0.731958677 6.73747691,0.324646419 C6.54804863,0.117792698 6.28045715,5.15241543e-17 5.99997265,0 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cuse xlink:href='%23path-1' transform='scale(-1, -1) translate(-11, -20)'%3E%3C/use%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect x='11' y='0' width='100%25' height='100%25' rx='12'%3E%3C/rect%3E%3Crect x='11' y='100%25' transform='translate(0, -19)' width='11' height='19'/%3E%3C/svg%3E");
            mask-image: url("data:image/svg+xml,%3Csvg width='11px' height='20px' viewBox='0 0 11 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M5.99997265,0 L0,0 L0,17 C0.193003149,14.1607017 0.876197869,11.2332513 2.04958416,8.21764872 C2.95395324,5.89342034 4.49586977,3.73337411 6.67533376,1.73751004 C7.08266144,1.36452676 7.11047701,0.731958677 6.73747691,0.324646419 C6.54804863,0.117792698 6.28045715,5.15241543e-17 5.99997265,0 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cuse xlink:href='%23path-1' transform='scale(-1, -1) translate(-11, -20)'%3E%3C/use%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect x='11' y='0' width='100%25' height='100%25' rx='12'%3E%3C/rect%3E%3Crect x='11' y='100%25' transform='translate(0, -19)' width='11' height='19'/%3E%3C/svg%3E");
        }

        .attachment.no-pad {
            margin: -0.4em -0.4em 0em -5px;
        }
    }

    &.out {
        align-self: flex-end;

        .message {
            border-bottom-right-radius: 0;
            background-color: var(--ownMessageBackground);
            padding-right: 1.2em;

            -webkit-mask-position: 100% 100%;
            mask-position: 100% 100%;
            -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='11px' height='20px' viewBox='0 0 11 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M5.99997265,0 L0,0 L0,17 C0.193003149,14.1607017 0.876197869,11.2332513 2.04958416,8.21764872 C2.95395324,5.89342034 4.49586977,3.73337411 6.67533376,1.73751004 C7.08266144,1.36452676 7.11047701,0.731958677 6.73747691,0.324646419 C6.54804863,0.117792698 6.28045715,5.15241543e-17 5.99997265,0 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cuse xlink:href='%23path-1' x='100%25' transform='scale(1, -1) translate(-11, -20)'%3E%3C/use%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect x='-11' y='0' width='100%25' height='100%25' rx='12'%3E%3C/rect%3E%3Crect x='100%25' y='100%25' transform='translate(-22, -19)' width='11' height='19'/%3E%3C/svg%3E");
            mask-image: url("data:image/svg+xml,%3Csvg width='11px' height='20px' viewBox='0 0 11 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M5.99997265,0 L0,0 L0,17 C0.193003149,14.1607017 0.876197869,11.2332513 2.04958416,8.21764872 C2.95395324,5.89342034 4.49586977,3.73337411 6.67533376,1.73751004 C7.08266144,1.36452676 7.11047701,0.731958677 6.73747691,0.324646419 C6.54804863,0.117792698 6.28045715,5.15241543e-17 5.99997265,0 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cuse xlink:href='%23path-1' x='100%25' transform='scale(1, -1) translate(-11, -20)'%3E%3C/use%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect x='-11' y='0' width='100%25' height='100%25' rx='12'%3E%3C/rect%3E%3Crect x='100%25' y='100%25' transform='translate(-22, -19)' width='11' height='19'/%3E%3C/svg%3E");
        
            .attachment.no-pad {
                margin: -0.4em -1.2em 0em -0.4em;
            }
        }
    }

    .user-avatar {
        width: 2.5em;
        height: 2.5em;
        align-self: flex-end;
    }

    .message {
        display: flex;
        flex-direction: column;
        padding: 0.4em;
        border-radius: 0.6em;
        margin-left: 0.2em;
        overflow: hidden;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;

        .name {
            font-weight: bold;
            margin-bottom: 0.25em;
        }

        .content-wrapper {
            position: relative;

            .text {
                margin: 0.2em 0;
                word-wrap: break-word;
                word-break: break-word;
                white-space: pre-wrap;

                p {
                    display: inline;
                }

                b, strong {
                    font-weight: bold;
                }

                i, em {
                    font-style: italic;
                }

                code {
                    font-family: monospace;
                }

                pre {
                    font-family: monospace;
                    white-space: pre;
                    padding: 0.5em;
                    border-radius: 0.5em;
                    background-color: var(--primaryHover);
                    overflow: hidden;

                    & > div {
                        margin: -7px;
                    }
                }
            }

            .time {
                float: right;
                font-size: 0.75em;
                color: var(--secondaryText);
                margin-bottom: -5px;
                margin-top: 7px;
                margin-left: 5px;
                bottom: 0;
            }

            .attachment {
                .attachment-image {
                    max-width: 100%;
                    height: auto;
                    max-height: 300px;
                }

                .attachment-file {
                    display: flex;
                    cursor: pointer;

                    .file-info {
                        margin-left: 0.3em;
                        gap: 0.2em;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .filesize {
                            color: var(--secondaryText);
                        }
                    }
                }
            }
        }
    }
}