@import "../../styles/abstracts/variables";

.service-message {
    align-self: center;
    background-color: var(--transparentContrast);
    padding: 0.4em;
    border-radius: 1em;
    font-size: 0.9em;
    margin: 0.5em 0;
}