.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    .message-container {
        flex-grow: 1;
        display: flex;
        overflow-y: auto;
        flex-direction: column-reverse;
        min-height: 200px;
        max-height: 100%;
        width: calc(min(100%, 800px));
        padding-left: 10px;
        padding-right: 20px;

        //gradient edge
        -webkit-mask-image: linear-gradient(180deg,#000 calc(100% - 16px), transparent);
        mask-image: linear-gradient(180deg,#000 calc(100% - 16px), transparent);
        padding-bottom: 12px;

        // .message:first-child {
        //     margin-top: auto;
        // }
    }
}