.theme {
    width: 100vw;
    height: 100vh;
    
    &.dummy {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99999;
        pointer-events: none;
    }

    &.animating {
        transition: none !important;
    }
}