@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    height: 100%;
    overflow: hidden;
}

#App {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    position: relative;

    font-family: 'Roboto', sans-serif;
}

a, a:hover, a:visited, a:active {
    color: var(--linkColor);
}

.dark .loader {
    filter: invert(0.9);
}

.mobile-hidden {
    @include mobile {
        display: none !important;
    }
}

.desktop-hidden {
    @include desktop {
        display: none !important;
    }
}

.loading-text::after {
    content: "";
    animation: loading-text 1s linear infinite;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbarColor);
    border: solid 3px transparent;
    border-radius: 5px;
    min-height: 50px;
    height: 50px;
    max-height: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbarColor);
}

* {
    scrollbar-color: rgba(var(--scrollbarColor), .3) transparent;
    scrollbar-width: thin;
}
